// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';

// AdminLTE
@import '~admin-lte/dist/css/adminlte.css';

// FontAwesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.router-link-exact-active{
    color: #ffffff !important;
    background-color: #0e4d9a;
}

.user-menu .nav-link{
    padding: 0px 10px !important;
}
.user-menu .nav-link img{
    width: 40px;
}
.user-menu .nav-link span{
    font-size: 14px;
    font-weight: 600;
}
.user-menu .dropdown-menu{
    top: 47px;
    right: -15px;
    width: 185px !important;
}
.user-menu .dropdown-menu .dropdown-item:hover{
    background: #0e4d9a;
    color: #ffffff;
}